export MYSQL_HOST=db
export MYSQL_USER=mysqluser
export MYSQL_PASSWORD=password
export FLYWAY_URL="jdbc:mysql://127.0.0.1:3306/simple_journal_entry_db?autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true"
